.navBar nav {
    position: fixed;
    background-color: #0f172a;
    top: 1vh;
    left: 50%;
    transform: translate(-50%);
    padding: 2vh 1vw;
    z-index: 100;
    display: flex;
    gap: 2vw;
    border-radius: 100px;
    border: 1px solid hsla(0, 0%, 100%, .2);
}

.navBar nav a {
    color: white;
    text-decoration: none;
}

.top_button {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    color: white;
    padding: 0.5vh;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
}

.top_button svg {
    fill: #020617;
}