.match_card {
    color: white;
    width: 20%;
    border: double 3px transparent;
    border-radius: 6px;
    background-image: linear-gradient(#2d2d2d, black), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.card_teams {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.input_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.updateScore_input_container {
    width: 30%;
}

.team_details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.team_details img {
    height: 5vw;
    width: 5vw;
    object-fit: contain;
}

.team_name, .team_score {
    text-align: center;
}

.team_score {
    font-weight: bold;
    font-size: 2rem;
}

.prediction_input {
    min-width: 40px;
    width: 2vw;
    text-align: center;
    color: black;
}

.prediction_input:disabled {
    background: black;
    color: #ff7426;
    font-weight: bold;
}

.icon_container .modify_prediction {
    fill: #06b6d4;
    cursor: pointer;
}

.icon_container .modify_prediction:hover {
    fill: #4066d1;
}

.icon_container {
    display: flex;
    width: 100%;
    justify-content: end;
}

.input_wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.gradient_card {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.match_prono {
    position: relative;
}

.match_prono::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
    background-origin: border-box;
    background-clip: padding-box;
}

.winNoPoint,
.winOnePoint,
.winThreePoints,
.winFourPoints {
    font-weight: bold;
}

.winNoPoint {
    color: red;
}

.winOnePoint {
    color: darkorange;
}

.winThreePoints {
    color: yellowgreen;
}

.winFourPoints {
    color: green;
}

label {
    text-align: center;
}

.no_prono {
    color: #64748b;
}

.matchStatus_comingSoon, .matchStatus_finished, .matchStatus_inPlay {
    font-weight: normal;
    padding: 8px;
    border-radius: 25px;
}

.matchStatus_comingSoon {
    border: solid 2px red;
}

.matchStatus_finished {
    border: solid 2px green;
}

.matchStatus_inPlay {
    border: solid 2px orange;
}

.matchTime {
    color: #7a8aa0;
}

.extraTime {
    position: relative;
    margin-top: 1rem;
    color: gold;
    display: flex;
    align-items: center;
}

.extraTime svg {
    animation: heartbeat 1.5s infinite;
}

.extraTime::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
    background-origin: border-box;
    background-clip: padding-box;
}

.extraTime_container {
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .changePronos_modal .changePronos_modalBox {
        width: 80%;
    }

    .modify_prediction {
        margin-right: 1rem;
    }

    .container {
        padding-top: 1vh;
    }

    .extraTime::before {
        top: -10px;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

