.changePassword_container {
    background: #020617;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    gap: 5vh;
}

.title, .title_slim {
    font-size: 5vw;
    color: white;
    z-index: 1;
    font-weight: bold;
}

.title_slim {
    font-weight: lighter;
}

.title_container {
    display: flex;
}

.text {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
}

.changePassword_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh
}

.form_container label {
    width: 20vw;
}