.homePage_container {
    position: relative;
    min-height: 100vh;
    background: #020617;
}

.title, .title_slim {
    font-size: 8rem;
    color: white;
    z-index: 1;
    font-weight: bold;
}

.title_slim {
    font-weight: lighter;
}

.title_container {
    display: flex;
}

.sparkles {
    width: 60%;
    height: 45vh;
}

.buttons_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: -20vh;
    justify-content: center;
}

.admin_container {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 15vh;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    width: fit-content;
    position: absolute;
    right: 1vw;
    top: 1vh;
    z-index: 1;
}

.user_icon {
    fill: #1ca0fb;
}