.myProfile_container {
    background: #020617;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    gap: 5vh;
    color: white;
}

.title_container {
    display: flex;
}

.title, .title_slim {
    font-size: 8rem;
    color: white;
    font-weight: bold;
}

.title_slim {
    font-weight: lighter;
}

.uploadForm_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.my_avatar {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 50%;
}

.myProfile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.modifyUsername_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modifyUsername_container .modify_username {
    fill: #06b6d4;
    cursor: pointer;
}

.modifyUsername_container .modify_username:hover {
    fill: #4066d1;
}

.myProfile_predictionsMissed, .myProfile_matchInfo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3vh;
    width: 100%;
}

.myProfile_predictionsMissed {
    padding-bottom: 5vh;
}

.myProfile_matchInfo {
    align-items: center;
    width: 100%;
    position: relative;
}

.myProfile_matchInfo::before {
    content: '';
    position: absolute;
    top: -1.5vh;
    left: 50%; /* Pour placer la bordure au milieu */
    transform: translateX(-50%); /* Pour la centrer par rapport au conteneur */
    width: 50%; /* Pour que la bordure prenne 50% de la largeur */
    height: 1px;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
    background-origin: border-box;
    background-clip: padding-box;
}

.myProfile_matchInfo:first-of-type::before {
    display: none;
}

.myProfile_matchInfo img {
    width: 4vh;
    height: 4vh;
}

.myProfile_matchInfo_details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*gap: 0.5rem;*/
    width: 100%;
}

.myProfile_matchInfo_details span:nth-of-type(1) {
    text-align: end;
}

.myProfile_matchInfo_details span:nth-of-type(2) {
    text-align: start;
}

.myProfile_matchInfo_flags {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.myProfile_matchInfo_details > * {
    width: 40vw;
}

.myProfile_matchInfo_details > div {
    width: 10vw;
}

@media (max-width: 768px) {
    .title_container > h1 {
        font-size: 4rem;
    }

    .myProfile_container {
        padding-top: 15vh;
    }

    .myProfile_modal .myProfile_modalBox {
        width: 80%;
    }

    .myProfile_matchInfo_details {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .myProfile_matchInfo_details > *, .myProfile_matchInfo_details > div {
        width: 30vw;
    }
}
