.macthes {
    padding: 5vh;
    min-height: 100vh;
    background: black;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.match_card {
    color: white;
    width: 20%;
    border: double 3px transparent;
    border-radius: 6px;
    background-image: linear-gradient(#2d2d2d, black), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.card_teams {
    display: flex;
    gap: 1vw;
}

.team_details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.team_details img {
    height: 5vw;
    width: 5vw;
    object-fit: contain;
}

.team_name, .team_score {
    text-align: center;
}