.macthes {
    padding: 10vh 5vh 5vh 5vh;
    min-height: 100vh;
    background: #020617;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    flex-direction: column;
    /*overflow: hidden;*/
}

.title, .title_slim, .totalUserPoints {
    font-size: 8rem;
    color: white;
    z-index: 1;
    font-weight: bold;
}

.totalUserPoints {
    font-size: 4rem;
    position: relative;
    text-align: center;
}

.floatText {
    position: absolute;
    font-weight: lighter;
    font-size: 1rem;
    transform: translate(0, -50%);
    top: 50%;
}

.subtitle, .subtitle_slim {
    font-size: 4rem;
    color: white;
    z-index: 1;
    font-weight: bold;
}

.title_slim, .subtitle_slim {
    font-weight: lighter;
}

.title_container {
    display: flex;
}

.groupMatches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 2vh;
}

.round_title {
    color: white;
    text-align: center;
    padding: 2vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.round_title.border {
    position: relative;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.round_title.border::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
    background-origin: border-box;
    background-clip: padding-box;
}

html, body {
    height: 100%;
}

.canDoPrediction {
    color: white;
    position: absolute;
    left: 0;
}

.canDoPrediction svg {
    cursor: pointer;
    fill: #06b6d4;
}

.marginTop {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

html {
    scroll-behavior: smooth;
}

.links_container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
    margin-top: 5vh;
}


.myProfile_predictionsMissed, .myProfile_matchInfo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3vh;
    width: 100%;
}

.myProfile_predictionsMissed {
    padding-bottom: 5vh;
}

.myProfile_matchInfo {
    align-items: center;
    width: 100%;
    position: relative;
}

.myProfile_matchInfo::before {
    content: '';
    position: absolute;
    top: -1.5vh;
    left: 50%; /* Pour placer la bordure au milieu */
    transform: translateX(-50%); /* Pour la centrer par rapport au conteneur */
    width: 50%; /* Pour que la bordure prenne 50% de la largeur */
    height: 1px;
    background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
    radial-gradient(circle farthest-side at 100% 92%, #ffc414, transparent),
    radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
    background-origin: border-box;
    background-clip: padding-box;
}

.myProfile_matchInfo:first-of-type::before {
    display: none;
}

.myProfile_matchInfo img {
    width: 4vh;
    height: 4vh;
}

.myProfile_matchInfo_details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*gap: 0.5rem;*/
    width: 100%;
}

.myProfile_matchInfo_details span:nth-of-type(1) {
    text-align: end;
}

.myProfile_matchInfo_details span:nth-of-type(2) {
    text-align: start;
}

.myProfile_matchInfo_flags {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.myProfile_matchInfo_details > * {
    width: 40%;
}

.myProfile_matchInfo_details > div {
    width: 30%;
    max-width: 150px;
}

.myProfile_modal .myProfile_modalBox::-webkit-scrollbar {
    width: 10px;
}

.myProfile_modal .myProfile_modalBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.myProfile_modal .myProfile_modalBox::-webkit-scrollbar-thumb {
    background: rgb(148 163 184);
    border-radius: 10px;
}

.refreshButton {
    position: fixed;
    bottom: 6vh;
    right: 1vw;
    color: white;
    padding: 0.5vh;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background: #202C4C;
    border: 1px solid white;
}

.refreshButton svg {
    fill: white;
}


@media (max-width: 768px) {
    .title_container > h1 {
        font-size: 4rem;
    }

    .macthes {
        padding: 15vh 0;
    }

    .myProfile_modal .myProfile_modalBox {
        width: 80%;
    }

    .groupMatches {
        flex-direction: column;
        gap: 7vh;
    }

    .title_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links_container {
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    .myProfile_matchInfo_details > span:nth-of-type(2) {
        text-align: end;
    }

    .myProfile_matchInfo_details > span:nth-of-type(1) {
        text-align: start;
    }

    html {
        scroll-behavior: auto;
    }

    .refreshButton {
        bottom: 7vh;
    }
}
